form {
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
}

input {
    margin-bottom: 10%;
}

div {
    text-align: center;
}